<% include header %>
<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    
</head>
<body>
        <div class="container1">
		
            </div>
            <center>
            <br>
            <br>

            <p><h2>UNIT CONVERTER</h2></p>
            <p> 
                <!-- first select -->
                <select id="selectInput" class="select" onChange="selectFunction()">
                    <option value="m">Meters</option>
                    <option value="cm">Centimeters</option>
                    <option value="mm">Milimeters</option>
                </select>
            </p>
            <!-- first input -->
            <p><input id="input" class="input" type="number" onInput="lengthConverter()" onChange="lengthConverter()"></input></p>
            <p>
                <!-- second select -->
                <select id="selectOutput" class="select" onChange="selectFunction()">
                    <option value="m">Meters</option>
                    <option value="cm">Centimeters</option>
                    <option value="mm">Milimeters</option>
                </select>
            </p>
            <!-- second input -->
            <p><input id="output" class="input" type="number" onInput="reverseConverter()" onChange="reverseConverter()"></input></p>
          </center>
          <script src="js/game.js"></script>
        
        </body>
        </html>
<% include footer %>