<% include header %>
<!doctype html>
<html lang="en">

<head>
  <title>ABOUT ME</title>
  
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-md-9">
        <header><h5 class="about">INTRODUCTION</h5></header>
<main>
<article class="abme">
<h3>Introduction(Gade Susritha)</h3>
<P id="present-section"></p><h4>TECHNICAL SKILLS</h4><p>I am good at web designing and C language.  </p>
<p id="past-section"></p><h4>EDUCATION</h4><p>I am here to do my masters in Applied Computer Science for this fall 2018. I have done my under-graduation in Computer Science from Anurag Engineering College.</p>
 <p id="future-section"></p><h4>INTRESTS</h4><p>I am interested in learning new technologies.I did my project in web apps so I want excel my knowledge more in this field. </p>
 <p id="future-section"></p><h4>CONTACT INFORMATION</h4><p>
  <ul>Name : susritha Gade<br>
  Email : S533907@nwmissouri.edu </ul>

</p>
</article>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/cB5Wq8TQKA8"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
</main>

    </div>
    <div class="col-md-2">
        <img src="images/B612_20171207_201622.jpg" class="img-circle" id="image" alt="susritha">
      </div>
      </div>
  </div>      
      <hr>
      <div class="col-md-12">
        
      </div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
  <% include footer %>