.select {
	border-radius: 20px;
	height: 40px;
	width: 100px;
	outline: none;
	border-color: blue;
}

.input {
	border-radius: 20px;
	height: 30px;
	width: 350px;
	outline: none;
	border-color: green;
}

body {
	font-style: italic;
	background-image:url("images/wallpaper2you_350824.jpg");
	background-repeat: no-repeat;
	background-size: 300%;
}